<footer class="content-grid site-footer">
	{% if showEdit %}
	<a href="{{page.inputPath | toGitHub}}"><small>Feel like fixing a typo? Edit on GitHub.</small></a>
	{% endif %}
	<hr class="content-wide" />
	<div class="footer-links">
		<p>&copy; {% year %} Sam Warnick</p>
		<nav>
			<ul>
				<li><a href="/feed.rss">/rss</a></li>
				<li><a href="/search">/search</a></li>
				<li><a href="/site">/site</a></li>
			</ul>
		</nav>
	</div>
</footer>
<div id="meWrapper">
	<div class="me">
	</div>
</div>
<script>
	const wrapper = document.getElementById('meWrapper');
	const observer = new IntersectionObserver((entries) => {
		entries.forEach(entry => {
			const me = wrapper.querySelector(".me");
			if (entry.intersectionRatio > 0.5) {
				me.classList.add("show");
			} else {
				me.classList.remove("show");
			}
		})
	}, {
		threshold: [0.4, 0.75],
	});
	observer.observe(wrapper);
</script>
