<header class="site-header">
	<a href="/" data-link="Sam Warnick">Sam Warnick</a>
	<nav>
		<ul role="list">
			<li>
				<a href="/" data-link="Home">Home</a>
			</li>
			<li>
				<a href="/archive" data-link="Archive">Archive</a>
			</li>
			<li>
				<a href="/rss.xml" data-link="RSS">RSS</a>
			</li>
		</ul >
	</nav>
</header>
