<header class="site-header {% if searchPage %}not-sticky{% endif %}">
	<a href="/" data-link="Sam Warnick">Sam Warnick</a>
	<nav>
		<ul role="list">
			<li>
				<a href="/" data-link="Home">Home</a>
			</li>
			<li>
				<a href="/archive" data-link="Archive">Archive</a>
			</li>
			<li>
				<a href="/search" data-link="Search">Search</a>
			</li>
			<li>
				<a href="/feed.rss" data-link="RSS">RSS</a>
			</li>
		</ul>
	</nav>
</header>
