<footer class="content-grid site-footer">
	{% if showEdit %}
	<a href="{{page.inputPath | toGitHub}}"><small>Feel like fixing a typo? Edit on GitHub.</small></a>
	{% endif %}
	<hr class="content-wide" />
	<div class="footer-links">
		<p>&copy; {% year %} Sam Warnick</p>
		<a href="/todo"><code>//TODO:</code></a>
	</div>
</footer>
