---
title: Sam Warnick
layout: default
---

<div class="posts-container">
  {% for post in site.posts %}
    <div class="post">
      <h2 class="post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <time class="post-date">{{ post.date | date_to_string }}</time>
      <div class="post-excerpt">
        <p>
          {% if post.description %}
            {{ post.description }}
          {% else %}
            {{ post.excerpt | strip_html | truncatewords:75 }}
          {% endif %}
        </p>
      </div>
    </div>
  {% endfor %}
</div>

<div class="about-me-container">
  <section class="about-me">
    <picture class="picture">
      <source 
        media="(min-width: 768px)" 
        srcset="{{ "/assets/img/profile_full.png"}} 1x, 
        {{ "assets/img/profile_full@2x.png" | relative_url }} 2x, 
        {{"/assets/img/profile_full@3x.png" | relative_url }} 3x">
      <img 
        srcset="{{ "/assets/img/profile_inset.png" | relative_url }} 1x, 
        {{ "/assets/img/profile_inset@2x.png" | relative_url }} 2x, 
        {{ "/assets/img/profile_inset@3x.png" | relative_url }} 3x" 
        src="{{ "/assets/img/profile_inset.png"}}" alt="Sam Warnick">
    </picture>
    <p class="text">
      Howdy! I'm <strong>Sam Warnick</strong>. I'm a recent graduate in computer science working as a software developer in Utah. I like LEGO, I <i class="far fa-heart"></i> my family, and of course programming.
    </p>
  </section>
</div>
