$picton-blue: #4AC6F7;
$rich-electric-blue: #0290C9;
$pale-green: #ADFC92;
$watersprout: #9BF3F0;
$sunset-orange: #F25F5C;
$blaze-orange: #F96900;
$black: #001016;

// gradients
$primary-gradient: linear-gradient(120deg, $picton-blue 0%, $watersprout 100%);
$secondary-gradient: linear-gradient(55deg, $sunset-orange 0%, $blaze-orange 100%);