@import "mixins";
@import "colors";

.contact-container {
  .contact-list {
    list-style: none;
  }
  
  .contact-item { 
    a {
      color: $black;
      text-decoration: none;
      @include underline($primary-gradient);
    }
  }
}