$mono-stack: 'Anonymous Pro', monospace;

.post {
  max-width: 700px;;
  padding: {
    left: 4rem;
    right: 4rem;
    bottom: 3.6rem;
  }

  li {
    font-size: 1.6rem;
    line-height: 1.4em;
  }

  a {
    @include underline($primary-gradient);
    color: $black;
    text-decoration: none;
  }

  @media (max-width: 700px) {
    max-width: none;
    padding: {
      left: 0;
      right: 0;
    }
  }
  
  blockquote {
    margin: 0 2.4rem;
    padding: 0 1.2rem;
    border-left: 1px solid $black; 
  }
  
  img {
    max-width: 100%;
    padding: 8px;
    border: 1px solid black;
  }
}

.post-title {
  margin-bottom: .1em;
}

.post-date {
  font-family: $mono-stack;
  font-size: 2rem;
  margin: 0 0 .5em 0;
}

.post-excerpt {
  margin: 0 1.2rem;
  padding: 0 1.2rem;
  border-left: 1px solid $black;
}