<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content="{{ eleventy.generator }}">
		{% if title %} {% ogImage "/og-image.og.njk", { title: title } %} {%
		else %}
		<meta property="og:image" content="" />
		{% endif %}
		<title>
			{{ title or metadata.title }}{% if title !== 'Sam Warnick' %} • Sam
			Warnick{% endif %}
		</title>
		<link
			rel="stylesheet"
			href="/assets/css/global.css?{% timestamp %}"
			type="text/css"
		/>
	</head>
	<body>
		{% include "components/site-nav.njk" %}
		<main>{{ content | safe }}</main>
		{% include "components/site-footer.njk" %}
	</body>
</html>
