<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content="{{ eleventy.generator }}" />
		<link
			rel="alternate"
			type="application/atom+xml"
			title="Sam Warnick RSS Feed"
			href="https://samwarnick.com/atom.xml"
		/>
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Sam Warnick RSS Feed"
			href="https://samwarnick.com/rss.xml"
		/>
		<link
			rel="alternate"
			type="application/json"
			title="Sam Warnick JSON Feed"
			href="https://samwarnick.com/json.xml"
		/>
		{% if title %} {% ogImage "/og-image.og.njk", { title: title } %} {% else %}
		<meta property="og:image" content="" />
		{% endif %}
		<title>
			{{ title or metadata.title }}{% if title !== 'Sam Warnick' %} • Sam
			Warnick{% endif %}
		</title>
		<link rel="preload" href="/assets/fonts/Atkinson-Hyperlegible-Regular-102.woff" as="font" crossorigin="anonymous" />
		<link rel="preload" href="/assets/fonts/Atkinson-Hyperlegible-Italic-102.woff" as="font" crossorigin="anonymous" />
		<link rel="preload" href="/assets/fonts/Atkinson-Hyperlegible-Bold-102.woff" as="font" crossorigin="anonymous" />
		<link rel="preload" href="/assets/fonts/Calistoga-Regular.ttf" as="font" crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="/assets/css/global.css?{% timestamp %}"
			type="text/css"
		/>
	</head>
	<body>
		{% include "components/site-nav.njk" %}
		<main>{{ content | safe }}</main>
		{% include "components/site-footer.njk" %}
	</body>
</html>
