---
layout: base
---
<article class="prose w-full max-w-2xl bg-gray-50 shadow-lg p-4 md:p-8 my-8">
  <header>
    <h2>{% if htmlTitle %}{{ htmlTitle | safe }}{% else %}{{ title }}{% endif %}</h2>
    <h3 class="mt-0 !text-gray-500 text-xl md:text-2xl">{{ subtitle }}</h3>
    <div class="mt-2 flex text-gray-400 items-center">
      {% if date %}
      <time class="text-sm text-gray-600" datetime="{{ date.toISOString() }}">{{ date.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric', timeZone: 'America/New_York'}) }}</time>
      {% else %}
      <span class="text-sm text-gray-600">DRAFT</span>
      {% endif %}
    </div>
  </header>
  {% set postUrl %}{{ url | url }}{% endset %}
  {{ content | htmlToLessRelativeUrls(postUrl) | safe }}
  <footer class="text-rainstorm-500">
    <div class="w-[80px]">
      {% include '_signature.njk' %}
    </div>
  </footer>
</article>

