.site-header {
	--_mask: linear-gradient(to bottom, #000000 50%, transparent);
	padding: var(--site-padding);
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 4em;
	gap: var(--spacing);
	z-index: 5;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		bottom: -50%;
		background: var(--background-color);
		mask-image: var(--_mask);
		z-index: -1;
		opacity: 0.96;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		bottom: -75%;
		backdrop-filter: blur(6px);
		mask-image: var(--_mask);
		z-index: -1;
		opacity: 0.95;
	}

	a[data-link] {
		font-family: var(--font-serif);
		color: var(--primary-text);
		text-decoration: none;
		font-size: 1.2rem;
		position: relative;

		&::after {
			content: attr(data-link);
			position: absolute;
			inset: 0;
			text-decoration-color: var(--accent-color);
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-thickness: 2px;
			text-underline-offset: 3px;
			color: transparent;
			scale: 0 1;
			opacity: 0.5;
			transition:
				scale 0.2s ease-in-out,
				opacity 0.2s ease-in-out;
			transform-origin: bottom;
		}

		&:hover::after {
			scale: 1 1;
			opacity: 1;
		}
	}
}

.site-footer {
	margin-block: 4em;

	ul {
		display: flex;
		list-style: none;
		padding: 0;
		gap: var(--spacing-more);
	}

	.footer-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 0.8em;
		color: var(--secondary-text);
	}
}

#meWrapper {
	margin-top: -50px;
	height: 150px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.me {
	height: 100%;
	background-image: url("https://samwarnick.com/media/profile-2.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	translate: 0 150px;
	transition: opacity 0.4s, scale 0.4s, translate 0.4s;

	&.show {
		translate: 0;
	}
}

@keyframes slideUp {
	from {
		/*transform: translateY(0);*/
		opacity: 0;
	}
	to {
		/*transform: translateY(-150px);*/
		opacity: 1;
	}
}
