@font-face {
  font-family: "Atkinson";
  src: url("/assets/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "League Spartan";
  src: url("/assets/fonts/LeagueSpartan-VF.woff2") format("woff2-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Calistoga";
  src: url("/assets/fonts/Calistoga-Regular.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Comic Mono";
  src: url("/assets/fonts/ComicMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Comic Mono";
  src: url("/assets/fonts/ComicMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
