section.set {
	margin-bottom: calc(var(--spacing-more) * 2);

	h3 {
		margin-bottom: var(--spacing);

		img {
			height: 60px;
		}
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 1em;
		justify-content: center;
	}
}
