section.set {
	margin-bottom: calc(var(--spacing-more) * 2);
	margin-inline: calc(var(--spacing-more) * 3);

	h3 {
		margin-bottom: var(--spacing-more);
		display: flex;
		justify-content: center;
		gap: 1em;

		img {
			height: 60px;
			margin: 0;
		}
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
	}

	tcg-card {
		--focus-outline: var(--primary-text);
		width: 200px;
	}
}

.back-to-top {
	display: block;
	margin-block-start: calc(var(--spacing-more) * 2);
	text-align: end;
}
