---
title: /404
layout: layouts/page-card
permalink: 404.html
---

<h2>Darn, nothing here. 😕</h2>

<p>Think there should be? <a href="https://github.com/samwarnick/samwarnick.com/issues/new"
		>Let me know</a
	>!
</p>
