---
title: "/pokemon"
permalink: /pokemon.html
layout: layouts/page
ogImage: og-image/eevee.jpg
---

<tcg-card-wrapper>
	<h2>My Collection</h2>
	<p>Here's some cards from my collection. They are all cards where the market price is at least $1—otherwise there would be too many.</p>
	<p><small>Last updated {{ pokemon.lastUpdated.date | toDate | formattedDate }}</small></p>
	<section class="set">
		<div class="cards">
			{%- for set in pokemon.myCollection -%}
				{%- for card in set.cards -%}
					<tcg-card src="{{card.images.large}}" alt="{{card.name}}, {{set.name}} number {{card.number}}"></tcg-card>
				{%- endfor -%}
			{%- endfor -%}
		</div>
	</section>

	<h2>Eeveelutions</h2>
	<p>Eevee is my favorite and the focus of my collection.</p>
	<section class="set">
		<div class="cards">
			{%- for set in pokemon.eeveelutions -%}
				{%- for card in set.cards -%}
					<tcg-card src="{{card.images.large}}" alt="{{card.name}}, {{set.name}} number {{card.number}}"></tcg-card>
				{%- endfor -%}
			{%- endfor -%}
		</div>
	</section>

	<h2>Wishlist</h2>
	<p>Some cards I want. I like illustrations and especially sets where illustrations match.</p>
	<section class="set">
		<div class="cards">
			{%- for set in pokemon.wishlist -%}
				{%- for card in set.cards -%}
					<tcg-card src="{{card.images.large}}" alt="{{card.name}}, {{set.name}} number {{card.number}}"></tcg-card>
				{%- endfor -%}
			{%- endfor -%}
		</div>
	</section>
</tcg-card-wrapper>

<p>Data and images provided through <a href="https://pokemontcg.io">The Pokémon TCG API</a>.</p>
<p>This page was heavily inspired by <a href="https://poke-holo.simey.me">https://poke-holo.simey.me</a>, one of the most incredible sites I have ever seen.</p>
