---
title: "/pokemon"
permalink: /pokemon.html
layout: layouts/page
ogImage: og-image/eevee.jpg
---

<h2>My Collection</h2>
<p>Here's some cards from my collection. They are all cards where the market price is at least $1—otherwise there would be too many.</p>
<p><small>Last updated {{ pokemon.lastUpdated.date | toDate | formattedDate }}</small></p>
<tcg-card-wrapper>
	{%- for set in pokemon.myCollection -%}
	<section class="set">
		<h3>{% if set.id == "svp" %}<img src="https://images.pokemontcg.io/sv1/logo.png" height="60">{% endif %}<img src="{{set.images.logo}}" alt="{{set.name}}" height="60"></h3>
		<div class="cards">
			{%- for card in set.cards -%}
			<tcg-card src="{{card.images.large}}" alt="{{card.name}}, {{set.name}} number {{card.number}}"></tcg-card>
			{%- endfor -%}
		</div>
	</section>
	{%- endfor -%}

	<h2>Wishlist</h2>
	<p>Some cards I want.</p>
	{%- for set in pokemon.wishlist -%}
	<section class="set">
			<h3><img src="{{set.images.logo}}" alt="{{set.name}}" height="60"></h3>
			<div class="cards">
				{%- for card in set.cards -%}
				<tcg-card src="{{card.images.large}}" alt="{{card.name}}, {{set.name}} number {{card.number}}"></tcg-card>
				{%- endfor -%}
			</div>
	</section>
	{%- endfor -%}
</tcg-card-wrapper>

<p>Data and images provided through <a href="https://pokemontcg.io">The Pokémon TCG API</a>.</p>
<p>This page was heavily inspired by <a href="https://poke-holo.simey.me">https://poke-holo.simey.me</a>, one of the most incredible sites I have ever seen.</p>
