<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <script src="{{ "/assets/js/brands.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/regular.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/fontawesome.min.js" | relative_url }}"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4ac6f7">
  {% seo %}
</head>
<body>
  <div class="container">
    <div class="header-container">
        <header class="site-header">
          <div class="logo-container">
            <a href="/" title="Home">{% include logo.html %}</a>
          </div>
          
          <nav class="site-nav">
            <ul>
              <li class="navigation-item"><a href="/" title="Home">Home</a></li>
              <li class="navigation-item"><a href="/contact" title="Contact">Contact</a></li>
              <li class="navigation-item"><a href="/uses" title="Contact">My Gear</a></li>
              <li class="navigation-item"><a href="https://lilyandsam.show" target="_blank" rel="noopener" title="Podcast">Podcast</a></li>
              <li class="social-item">
                <a href="https://twitter.com/samwarnick" target="_blank" rel="noopener" title="Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="social-item">
                <a href="https://codepen.io/samwarnick/" target="_blank" rel="noopener" title="CodePen">
                  <i class="fab fa-codepen"></i>
                </a>
              </li>
              <li class="social-item">
                <a href="https://github.com/samwarnick" target="_blank" rel="noopener" title="GitHub">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
          </nav>
        </header>
    </div>
    
    <div class="main-content">
      {{ content }}
    </div>

    <footer class="site-footer">
      Copyright 2017 &ndash; 2018 Sam Warnick
    </footer>
  </div>
</body>
</html>
