---
layout: "layouts/base"
title: 😞
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="max-w-2xl bg-gray-50 shadow-lg p-4 md:p-8 my-8">
  <h2 class="text-3xl text-gray-800 mb-12">Shoot. I can't find that page. 😞</h2>
  
  <div class="flex justify-center">
    <a href="/" class="border-2 border-transparent h-8 block flex items-center justify-center py-1 px-3 hover:border-pink-500 transition">Home</a>
  </div>
</div>