---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
/media/* /.netlify/images?url=https://blog.warnick.me/:splat&fm=auto&q=90 200
{%- for post in collections.posts -%}
	{%- if post.data.oldUrl -%}
	{%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) -%}
		{{post.data.oldUrl | removeSite }} {{absolutePostUrl}} {{ '301' }}
		{%- if not loop.last -%}
		  {{ '\n' }}
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
