---
layout: "layouts/page"
title: Archive
---

<h2>Archive</h2>
<ul class="list-disc">
    {%- for post in collections.posts | reverse %}
    <li>
        <a href="{{ post.url | url }}" class="internal-link">{{ post.data.title }}</a>
    </li>
    {%- endfor %}
</ul>
